


header .shape {
    height: 50px;
    background-color: #fff;
    --mask:
    radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

header .navbar {
    height: 114px;
    z-index: 10;
}

.nav-custom-items {
    max-width: 800px;
}

.navbar .navbar-collapse {
    padding: 0px 40px;
}

.navbar .nav-item {
    margin: 0px 12px;
}
.navbar .active {
    color: #5fcac7 !important;
}

.navbar .nav-item a {
    font-family: 'Merienda', cursive;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
}

.bellaria-items {
    width: 185px;
    position: relative;
    z-index: 10;
}

.bellaria-items img {
    width: 100%;
    position: absolute;
    top: -25px;
    float: center;
}


.navbar .nav-icons-area img {
    width: 21px;
}


.carousel-item img {
    max-height: 842px;
    object-fit: cover;
    --mask:
    radial-gradient(29.30px at 50% 40.80px,#000 99%,#0000 101%) calc(50% - 48px) 0/96px 100%,
    radial-gradient(29.30px at 50% -16.8px,#0000 99%,#000 101%) 50% 24px/96px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}